html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

canvas {
  display: block;
}

body {
  background-color: #ffebc0;
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 1s ease-in-out;
}

.content {
  text-align: center;
}

button {
  background-color: #FBB040;
  padding: 1em;
  border-radius: .3em;
  width: 30%;
  color: black;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-white {
  width: 50px;
  height: 50px;
  background: #191932;
  border-radius: 5em;
  position: absolute;
  z-index: 2;
  transition: all 0.4s;
  color: #fff;
  display: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
.circle-white-scale::after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
  background: #191932;
}
.bg-galaxy {
  background: #191932;
  transition: all 3s;
}
.circle-white-scale:hover::after {
  transform: scale(1.5);
  opacity: 0;
}
.circle-white-scale:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
.scale-circle {
  display: block !important;
  -webkit-animation: scaleMe 3s;
  animation: scaleMe 3s;
}
@keyframes scaleMe {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  to {
    -webkit-transform: scale(100);
    transform: scale(100);
  }
}
.scroll-wrapper {
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: 80px;
}
.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}
.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}
.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}
.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #FFFFFF;
}
.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}
.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}
@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}
.text {
  display: block;
  margin-top: 75px;
  margin-left: -39px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #FFFFFF;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}
@keyframes pulse {
  to {
    opacity: 1;
  }
}

.img-accent-1 {
  width: 215px;
  height: 275px;
  position: absolute;
  top: 30px;
  right: -141px;
  transform: rotate(-39deg);
}

.img-accent-1-mobile {
  width: 125px;
  height: 165px;
  position: absolute;
  top: 15px;
  right: -88px;
  transform: rotate(-29deg);
}

.img-accent-2 {
  width: 215px;
  height: 275px;
  position: absolute;
  top: 30px;
  left: -141px;
  transform: rotate(37deg) scale(-1, 1);
}

.img-accent-2-mobile {
  width: 125px;
  height: 165px;
  position: absolute;
  top: 15px;
  left: -88px;
  transform: rotate(27deg) scale(-1, 1);
}
.floating-element {
  animation: float 3s infinite ease-in-out;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.floating-element5s {
  animation: float5s 5s infinite ease-in-out;
}

@keyframes float5s {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}



.night {
  position: relative;
  width: 100%;
  height: 100%;
  transform: rotateZ(45deg);
}

.shooting_star {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 2px;
  background: linear-gradient(-45deg, #FFFFFF, rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px #699bff);
  -webkit-animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
          animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
}
.shooting_star::before {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #FFFFFF, rgba(0, 0, 255, 0));
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  -webkit-animation: shining 3000ms ease-in-out infinite;
          animation: shining 3000ms ease-in-out infinite;
}
.shooting_star::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #FFFFFF, rgba(0, 0, 255, 0));
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  -webkit-animation: shining 3000ms ease-in-out infinite;
          animation: shining 3000ms ease-in-out infinite;
  transform: translateX(50%) rotateZ(-45deg);
}
.shooting_star:nth-child(1) {
  top: calc(50% - -113px);
  left: calc(50% - 201px);
  -webkit-animation-delay: 1871ms;
          animation-delay: 1871ms;
}
.shooting_star:nth-child(1)::before, .shooting_star:nth-child(1)::after {
  -webkit-animation-delay: 1871ms;
          animation-delay: 1871ms;
}
.shooting_star:nth-child(2) {
  top: calc(50% - 122px);
  left: calc(50% - 258px);
  -webkit-animation-delay: 8080ms;
          animation-delay: 8080ms;
}
.shooting_star:nth-child(2)::before, .shooting_star:nth-child(2)::after {
  -webkit-animation-delay: 8080ms;
          animation-delay: 8080ms;
}
.shooting_star:nth-child(3) {
  top: calc(50% - -71px);
  left: calc(50% - 83px);
  -webkit-animation-delay: 9538ms;
          animation-delay: 9538ms;
}
.shooting_star:nth-child(3)::before, .shooting_star:nth-child(3)::after {
  -webkit-animation-delay: 9538ms;
          animation-delay: 9538ms;
}
.shooting_star:nth-child(4) {
  top: calc(50% - 162px);
  left: calc(50% - 76px);
  -webkit-animation-delay: 7353ms;
          animation-delay: 7353ms;
}
.shooting_star:nth-child(4)::before, .shooting_star:nth-child(4)::after {
  -webkit-animation-delay: 7353ms;
          animation-delay: 7353ms;
}
.shooting_star:nth-child(5) {
  top: calc(50% - -18px);
  left: calc(50% - 159px);
  -webkit-animation-delay: 4498ms;
          animation-delay: 4498ms;
}
.shooting_star:nth-child(5)::before, .shooting_star:nth-child(5)::after {
  -webkit-animation-delay: 4498ms;
          animation-delay: 4498ms;
}
.shooting_star:nth-child(6) {
  top: calc(50% - 83px);
  left: calc(50% - 241px);
  -webkit-animation-delay: 5125ms;
          animation-delay: 5125ms;
}
.shooting_star:nth-child(6)::before, .shooting_star:nth-child(6)::after {
  -webkit-animation-delay: 5125ms;
          animation-delay: 5125ms;
}
.shooting_star:nth-child(7) {
  top: calc(50% - 88px);
  left: calc(50% - 25px);
  -webkit-animation-delay: 8671ms;
          animation-delay: 8671ms;
}
.shooting_star:nth-child(7)::before, .shooting_star:nth-child(7)::after {
  -webkit-animation-delay: 8671ms;
          animation-delay: 8671ms;
}
.shooting_star:nth-child(8) {
  top: calc(50% - 152px);
  left: calc(50% - 55px);
  -webkit-animation-delay: 7739ms;
          animation-delay: 7739ms;
}
.shooting_star:nth-child(8)::before, .shooting_star:nth-child(8)::after {
  -webkit-animation-delay: 7739ms;
          animation-delay: 7739ms;
}
.shooting_star:nth-child(9) {
  top: calc(50% - -53px);
  left: calc(50% - 8px);
  -webkit-animation-delay: 390ms;
          animation-delay: 390ms;
}
.shooting_star:nth-child(9)::before, .shooting_star:nth-child(9)::after {
  -webkit-animation-delay: 390ms;
          animation-delay: 390ms;
}
.shooting_star:nth-child(10) {
  top: calc(50% - 61px);
  left: calc(50% - 278px);
  -webkit-animation-delay: 8236ms;
          animation-delay: 8236ms;
}
.shooting_star:nth-child(10)::before, .shooting_star:nth-child(10)::after {
  -webkit-animation-delay: 8236ms;
          animation-delay: 8236ms;
}
.shooting_star:nth-child(11) {
  top: calc(50% - -20px);
  left: calc(50% - 95px);
  -webkit-animation-delay: 7857ms;
          animation-delay: 7857ms;
}
.shooting_star:nth-child(11)::before, .shooting_star:nth-child(11)::after {
  -webkit-animation-delay: 7857ms;
          animation-delay: 7857ms;
}
.shooting_star:nth-child(12) {
  top: calc(50% - -9px);
  left: calc(50% - 276px);
  -webkit-animation-delay: 5060ms;
          animation-delay: 5060ms;
}
.shooting_star:nth-child(12)::before, .shooting_star:nth-child(12)::after {
  -webkit-animation-delay: 5060ms;
          animation-delay: 5060ms;
}
.shooting_star:nth-child(13) {
  top: calc(50% - -33px);
  left: calc(50% - 289px);
  -webkit-animation-delay: 1731ms;
          animation-delay: 1731ms;
}
.shooting_star:nth-child(13)::before, .shooting_star:nth-child(13)::after {
  -webkit-animation-delay: 1731ms;
          animation-delay: 1731ms;
}
.shooting_star:nth-child(14) {
  top: calc(50% - -15px);
  left: calc(50% - 202px);
  -webkit-animation-delay: 3066ms;
          animation-delay: 3066ms;
}
.shooting_star:nth-child(14)::before, .shooting_star:nth-child(14)::after {
  -webkit-animation-delay: 3066ms;
          animation-delay: 3066ms;
}
.shooting_star:nth-child(15) {
  top: calc(50% - -16px);
  left: calc(50% - 5px);
  -webkit-animation-delay: 9094ms;
          animation-delay: 9094ms;
}
.shooting_star:nth-child(15)::before, .shooting_star:nth-child(15)::after {
  -webkit-animation-delay: 9094ms;
          animation-delay: 9094ms;
}
.shooting_star:nth-child(16) {
  top: calc(50% - 15px);
  left: calc(50% - 276px);
  -webkit-animation-delay: 8258ms;
          animation-delay: 8258ms;
}
.shooting_star:nth-child(16)::before, .shooting_star:nth-child(16)::after {
  -webkit-animation-delay: 8258ms;
          animation-delay: 8258ms;
}
.shooting_star:nth-child(17) {
  top: calc(50% - -97px);
  left: calc(50% - 291px);
  -webkit-animation-delay: 5326ms;
          animation-delay: 5326ms;
}
.shooting_star:nth-child(17)::before, .shooting_star:nth-child(17)::after {
  -webkit-animation-delay: 5326ms;
          animation-delay: 5326ms;
}
.shooting_star:nth-child(18) {
  top: calc(50% - -56px);
  left: calc(50% - 221px);
  -webkit-animation-delay: 6531ms;
          animation-delay: 6531ms;
}
.shooting_star:nth-child(18)::before, .shooting_star:nth-child(18)::after {
  -webkit-animation-delay: 6531ms;
          animation-delay: 6531ms;
}
.shooting_star:nth-child(19) {
  top: calc(50% - 142px);
  left: calc(50% - 167px);
  -webkit-animation-delay: 8885ms;
          animation-delay: 8885ms;
}
.shooting_star:nth-child(19)::before, .shooting_star:nth-child(19)::after {
  -webkit-animation-delay: 8885ms;
          animation-delay: 8885ms;
}
.shooting_star:nth-child(20) {
  top: calc(50% - 127px);
  left: calc(50% - 163px);
  -webkit-animation-delay: 1771ms;
          animation-delay: 1771ms;
}
.shooting_star:nth-child(20)::before, .shooting_star:nth-child(20)::after {
  -webkit-animation-delay: 1771ms;
          animation-delay: 1771ms;
}

@-webkit-keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}

@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes shooting {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(300px);
  }
}
@keyframes shooting {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(300px);
  }
}
@-webkit-keyframes sky {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
@keyframes sky {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}