html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

canvas {
  display: block;
}

body {
  background-color: #ffebc0;
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 1s ease-in-out;
}

.content {
  text-align: center;
}

button {
  background-color: #FBB040;
  padding: 1em;
  border-radius: .3em;
  width: 30%;
  color: black;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-white {
  width: 50px;
  height: 50px;
  background: #191932;
  border-radius: 5em;
  position: absolute;
  z-index: 2;
  transition: all 0.4s;
  color: #fff;
  display: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
.circle-white-scale::after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
  background: #191932;
}
.bg-galaxy {
  background: #191932;
  transition: all 3s;
}
.circle-white-scale:hover::after {
  transform: scale(1.5);
  opacity: 0;
}
.circle-white-scale:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
.scale-circle {
  display: block !important;
  -webkit-animation: scaleMe 3s;
  animation: scaleMe 3s;
}
@keyframes scaleMe {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  to {
    -webkit-transform: scale(100);
    transform: scale(100);
  }
}
.scroll-wrapper {
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: 80px;
}
.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}
.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}
.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}
.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #FFFFFF;
}
.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}
.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}
@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}
.text {
  display: block;
  margin-top: 75px;
  margin-left: -39px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #FFFFFF;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}
@keyframes pulse {
  to {
    opacity: 1;
  }
}

.img-accent-1 {
  width: 215px;
  height: 275px;
  position: absolute;
  top: 30px;
  right: -141px;
  transform: rotate(-39deg);
}

.img-accent-1-mobile {
  width: 125px;
  height: 165px;
  position: absolute;
  top: 15px;
  right: -88px;
  transform: rotate(-29deg);
}

.img-accent-2 {
  width: 215px;
  height: 275px;
  position: absolute;
  top: 30px;
  left: -141px;
  transform: rotate(37deg) scale(-1, 1);
}

.img-accent-2-mobile {
  width: 125px;
  height: 165px;
  position: absolute;
  top: 15px;
  left: -88px;
  transform: rotate(27deg) scale(-1, 1);
}
.floating-element {
  animation: float 3s infinite ease-in-out;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.floating-element5s {
  animation: float5s 5s infinite ease-in-out;
}

@keyframes float5s {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}